### Upload the images that we are to use in this project

In [2]:
import pandas as pd
import numpy as np

In [3]:
a = pd.read_csv('D:/Work1/Computer Vision/a.csv')
a.head(5)

Empty DataFrame
Columns: [-3.474, 0.43248, 0.79939, 2.2378, 1.6581, 2.376, 2.9777, 3.549, 4.1321, 4.1511, 16.496, 8.0714, 8.1199, 10.869, 11.557, 12.645, 14.298, 14.982, 15.258, 16.228, 20.3, 19.518, 20.405, 21.357, 23.983, 24.654, 25.926, 25.359, 27.367, 29.486, 26.499, 30.336, 33.206, 34.592, 36.679, 36.354, 39.407, 40.086, 41.6, 42.122, 42.968, 44.193, 47.389, 48.211, 50.542, 53.036, 53.827, 56.434, 57.822, 60.152, 58.646, 63.04, 64.426, 67.402, 68.34, 69.721, 71.624, 72.592, 74.399, 76.349, 83.051, 80.499, 81.452, 83.283, 85.455, 86.826, 88.678, 89.696, 91.642, 93.383, 88.85, 96.971, 99.499, 99.878, 101.91, 104.02, 105.89, 107.08, 108.87, 111.32, 112.42, 114.01, 114.8, 117.62, 118.19, 119.83, 122.86, 124.34, 125.01, 125.15, 129.67, 127.47, 128.97, 129.8, 131.45, 132.16, 134.32, 134.11, 134.92, 135.63]
Index: []

[0 rows x 100 columns]

In [4]:
b = pd.read_csv('D:/Work1/Computer Vision/b.csv')
b.head(5)

Empty DataFrame
Columns: [-2.4717, 1.1478, 2.9759, 3.8222, 3.6006, 6.381, 5.7867, 7.5803, 6.6713, 10.436, 10.506, 10.702, 12.145, 13.743, 14.459, 17.33, 16.452, 18.303, 19.821, 20.963, 18.019, 22.691, 23.848, 25.557, 26.684, 27.835, 27.95, 27.608, 28.285, 28.517, 23.221, 28.904, 30.054, 30.998, 32.325, 32.843, 32.887, 34.099, 35.386, 35.485, 46.884, 36.121, 37.107, 37.102, 38.203, 38.764, 39.082, 39.63, 40.277, 39.973, 37.425, 41.398, 41.804, 42.767, 41.633, 40.481, 40.578, 40.124, 39.684, 41.14, 36.097, 41.754, 42.487, 41.839, 41.378, 41.194, 42.678, 42.746, 43.563, 42.918, 42.454, 44.349, 44.127, 43.421, 44.389, 45.015, 46.276, 45.357, 46.024, 45.991, 43.722, 46.28, 46.024.1, 46.923, 46.017, 46.46, 47.335, 46.308, 47.738, 47.044, 47.557, 47.986, 47.591, 48.348, 48.992, 49.898, 51.372, 51.909, 51.057, 52.464]
Index: []

[0 rows x 100 columns]

In [5]:
x = pd.read_csv('D:/Work1/Computer Vision/x.csv')
x.head(5)

Empty DataFrame
Columns: [0, 0.18007, 1.2124, 1.5073, 1.2189, 2.5653, 2.9316, 3.2386, 4.4594, 5.0941, 6.2979, 8.0361, 8.7252, 10.187, 11.295, 12.67, 14.014, 14.933, 15.563, 17.085, 18.132, 19.344, 20.897, 21.866, 23.306, 24.313, 25.565, 26.433, 27.643, 28.879, 30.017, 31.358, 32.762, 34.547, 36.153, 37.228, 38.954, 40.3, 41.379, 43.12, 44.087, 45.387, 47.23, 48.208, 50.51, 52.606, 54.028, 56.639, 57.725, 59.455, 61.109, 63.396, 65.148, 66.604, 67.981, 69.512, 70.904, 72.479, 74.741, 76.535, 78.044, 79.517, 81.098, 83.413, 85.458, 86.614, 88.823, 90.469, 92.013, 93.733, 95.189, 97.234, 99.47, 100.36, 102.06, 103.58, 105.64, 106.86, 108.94, 111.07, 112.88, 114.07, 115.94, 117.46, 119.2, 120.2, 122.21, 123.5, 124.23, 125.7, 126.86, 127.54, 128.94, 129.85, 131.06, 132.15, 133.8, 133.92, 134.79, 135.87]
Index: []

[0 rows x 100 columns]

In [6]:
y = pd.read_csv('D:/Work1/Computer Vision/y.csv')
y.head(5)

Empty DataFrame
Columns: [0, 0.70039, 2.2956, 3.5365, 4.3797, 5.4558, 6.0645, 7.2278, 8.0916, 9.2046, 9.577, 11.054, 12.314, 13.59, 14.989, 16.835, 17.465, 18.317, 19.769, 21.117, 21.976, 22.527, 24.326, 25.229, 26.803, 27.428, 27.592, 27.478, 28.164, 28.639, 28.675, 29.353, 30.125, 31.057, 32.539, 33.049, 33.165, 33.83, 34.658, 34.931, 35.244, 36.055, 36.91, 37.532, 38.283, 38.426, 39.566, 39.645, 39.818, 40.023, 40.685, 41.166, 42.141, 42.029, 41.538, 41.173, 40.97, 40.632, 40.842, 41.196, 41.93, 41.507, 42.253, 41.613, 41.762, 41.747, 42.513, 43.073, 43.501, 43.207, 43.611, 43.817, 44.432, 44.689, 44.583, 44.925, 45.718, 45.519, 46.031, 45.729, 45.295, 45.733, 46.466, 46.649, 46.307, 46.408, 46.683, 46.56, 46.971, 47.065, 47.379, 47.644, 48.092, 48.575, 49.166, 50.335, 51.056, 51.421, 51.386, 52.072]
Index: []

[0 rows x 100 columns]